html,
body {
  margin: 0 auto;
  background: black;
}

.large {
  width: 208px;
  height: 208px;
  position: absolute;
  border-radius: 100%;
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.29), inset 70px 120px 0px -80px rgba(255, 255, 255, 0.35), 0 0 0 5px #fff, 0 3px 6px 4px rgba(0, 0, 0, 0.5);
  /*hide the glass by default*/
  display: none;
}

.mainBG {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/portfolioMainBG.png);
  background-size: cover;
  position: relative;
}

.navBar {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100px;
  right: 80px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-align: right;
  z-index: 101;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: 0 20px;
}

.navLink:hover {
  color: #bbe3ff;
}

.animated.flash {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.rayBans {
  width: 440px;
  position: absolute;
  right: 385px;
  top: 460px;
  /*    -webkit-animation-duration: 5s;*/
  /*
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
*/
}

a.play {
  position: absolute;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background: transparent;
  color: white;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  border-radius: 8px;
  top: 605px;
  left: 300px;
  text-decoration: none;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  z-index: 101;
}

a.play:hover {
  color: #bbe3ff;
}

a.pause:hover {
  color: #bbe3ff;
}

a.pause {
  position: absolute;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: transparent;
  color: white;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  border-radius: 8px;
  top: 605px;
  left: 475px;
  text-decoration: none;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  z-index: 101;
}

.mainLogo {
  width: 450px;
  position: absolute;
  top: 410px;
  left: 230px;
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 1s;
}

.look {
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.bounce {
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 2;
}

#aboutContainer {
  width: 100vw;
}

.magnify {
  position: relative;
  margin: 0 auto;
}

.aboutPanel {
  width: 100%;
  z-index: 100;
}

.aboutPanelphone {
  display: none;
}

.aboutDescContainer {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 20px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  z-index: 101;
}

#aboutHeader {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
}

#aboutDesc {
  text-align: left;
}

#workContainer {
  width: 100vw;
  margin: 0 auto;
}

.square1 {
  width: 50%;
  float: left;
  background-color: white;
}

.square1:hover {
  opacity: 0.7;
}

.square2 {
  width: 50%;
}

.square2:hover {
  opacity: 0.7;
}

#designContainer {
  width: 100%;
  text-align: center;
}

.design {
  width: 310px;
  height: 310px;
  background: yellow;
}

.design1 {
  width: 310px;
  height: 310px;
  background: green;
}

#designContainer2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.design {
  width: 25%;
  height: 300px;
  background: yellow;
}

.design1 {
  width: 25%;
  height: 300px;
  background: green;
}

#resumeContainer {
  width: 100%;
  height: 200px;
  background-color: #000228;
  position: relative;
}

.resumeBtn {
  width: 30%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  color: white;
  line-height: 100px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
}

.resumeBtn:hover {
  border: 3px solid white;
  font-weight: 400;
}

#skillsContainer {
  width: 100%;
  padding:0px;
  background-color: white;
  position: relative;
  text-align: center;
}

.skillIcon {
  width: 200px;
  margin: 80px;
}

#contactContainer {
  width: 100%;
  padding: 0px;
  background-color: #000228;
  position: relative;
  text-align: center;
}

.contactIcon {
  width: 100px;
  margin: 40px;
}




@media screen and (min-width: 1281px) and (max-width: 1440px) {

.mainLogo {
    width: 400px;
    position: absolute;
    top: 350px;
    left: 140px;
    -webkit-animation-duration: .3s;
    -webkit-animation-delay: 1s;
  }

  a.play {
    position: absolute;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 200px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  }
  a.pause {
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 355px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  }
    
     .rayBans {
    width: 350px;
    position: absolute;
    right: 270px;
    top: 335px;
    /*    -webkit-animation-duration: 5s;*/
    /*
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
*/
  }
    .contactIcon {
    width: 65px;
  }


}


@media screen and (min-width: 737px) and (max-width: 1024px) {
    
     .rayBans {
    width: 300px;
    position: absolute;
    right: 25px;
    top: 295px;
    /*    -webkit-animation-duration: 5s;*/
    /*
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
*/
  }
     .mainLogo {
    width: 400px;
    position: absolute;
    top: 305px;
    left: 130px;
    -webkit-animation-duration: .3s;
    -webkit-animation-delay: 1s;
  }
    
     a.play {
    position: absolute;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 200px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  } 
      a.pause {
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 355px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  }
    
    
}






@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .mainBG {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/portfolioMainBG.png);
    background-size: cover;
    position: relative;
  }
  .navBar {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100px;
    right: 80px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    z-index: 101;
  }
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 20px;
  }
  .navLink:hover {
    color: #bbe3ff;
  }
  .animated.flash {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }
  .rayBans {
    width: 310px;
    position: absolute;
    right: 247px;
    top: 305px;
    /*    -webkit-animation-duration: 5s;*/
    /*
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
*/
  }
  a.play {
    position: absolute;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 200px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  }
  a.play:hover {
    color: #bbe3ff;
  }
  a.pause:hover {
    color: #bbe3ff;
  }
  a.pause {
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: white;
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    border-radius: 8px;
    top: 505px;
    left: 355px;
    text-decoration: none;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    z-index: 101;
  }
  .mainLogo {
    width: 400px;
    position: absolute;
    top: 305px;
    left: 130px;
    -webkit-animation-duration: .3s;
    -webkit-animation-delay: 1s;
  }
  .look {
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .bounce {
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 2;
  }
  #aboutContainer {
    width: 100vw;
    position: relative;
  }
  .aboutPanel {
    width: 100%;
    z-index: 100;
  }
  #workContainer {
    width: 100%;
    margin: 0 auto;
  }
  .square1 {
    width: 50%;
  }
  .square2 {
    width: 50%;
  }
  #designContainer {
    width: 100%;
    text-align: center;
  }
  .design {
    width: 310px;
    height: 310px;
    background: yellow;
  }
  .design1 {
    width: 310px;
    height: 310px;
    background: green;
  }
  #designContainer2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .design {
    width: 25%;
    height: 300px;
    background: yellow;
  }
  .design1 {
    width: 25%;
    height: 300px;
    background: green;
  }
      #skillsContainer {
    width: 100%;
    padding: 0px;
    background-color: white;
    position: relative;
    text-align: center;
  }
  
  .skillIcon {
    width: 200px;
  }
  #contactContainer {
    width: 100%;
    padding: 0px;
    background-color: #000228;
    position: relative;
    text-align: center;
  }
  .contactIcon {
    width: 70px;
  }
}











@media screen and (max-width: 414px) {
  #workContainer {
    width: 100vw;
    margin: 0 auto;
  }
  .square1 {
    width: 100%;
    float: left;
  }
  .square2 {
    width: 100%;
  }
  .raybans {
    display: none;
  }
  .mainLogo {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -125px;
  }
  .play {
    display: none;
  }
  .pause {
    display: none;
  }
  .mainBG {
    background-image: url(../img/portfolioMainBGiphone6.png);
    background-size: cover;
  }
  .navBar {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100px;
    right: 0px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    z-index: 101;
  }
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 20px;
  }
  .navLink:hover {
    color: #bbe3ff;
  }
  .aboutPanelphone {
    width: 100%;
    display: inline-block;
  }
  .aboutPanel {
    display: none;
  }
  .resumeBtn {
    width: 80%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    color: white;
    line-height: 100px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .resumeBtn:hover {
    border: 3px solid white;
    font-weight: 400;
  }
  #skillsContainer {
    width: 100%;
    padding: 0px;
    background-color: white;
    position: relative;
    text-align: center;
  }
  .skillIcon {
    width: 200px;
  }
  #contactContainer {
    width: 100%;
    padding: 0px;
    background-color: #000228;
    position: relative;
    text-align: center;
  }
  .contactIcon {
    width: 100px;
  }
}











@media screen and (min-width: 415px) and (max-width: 736px) {
  #workContainer {
    width: 100vw;
    margin: 0 auto;
  }
  .square1 {
    width: 100%;
    float: left;
  }
  .square2 {
    width: 100%;
  }
  .raybans {
    display: none;
  }
  .mainLogo {
    width: 250px;
    left: 80px;
    top: 170px;
  }
  .play {
    display: none;
  }
  .pause {
    display: none;
  }
  .navBar {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100px;
    right: 0px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    z-index: 101;
  }
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0 20px;
  }
  .navLink:hover {
    color: #bbe3ff;
  }
  #skillsContainer {
    width: 100%;
    padding: 0px;
    background-color: white;
    position: relative;
    text-align: center;
  }
  .skillIcon {
    width: 100px;
  }
  
  #contactContainer {
    width: 100%;
    padding: 0px;
    background-color: #000228;
    position: relative;
    text-align: center;
  }
  .contactIcon {
    width: 100px;
  }
}